.main-container {
  min-height: 150vh;
  min-width: 100vw;
  background-color:deepskyblue;
}

li {
  list-style: none;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
  margin-top: 0;
  height: 150px;
}

h1 {
  justify-content: center;
  font-family: 'Indie Flower', cursive;
  font-size: 80px;
  color: white;
  text-shadow: 1px 1px 1px white,
               3px 3px 3px darkblue;
}


h4 {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  color: white;
}

h2 {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
  margin-left: 10px;
  margin-bottom: 20px;
  transform: rotate(-3deg);
  color: white;
}

.banner {
  /* display: flex; */
  border: 1px solid white;
  margin-left: 25vw;
  margin-right: 25vw;
  width: 50vw;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  text-align: center;
  color: white;
}

b {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
  color: white;
}

.banner .calendar-button {
  align-items: flex-end;
  justify-content: flex-end;
}

.component-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.name {
  display: flex;
  background-image: url("../giftTag.png");
  background-size: cover;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  transform: rotate(-15deg);
  margin: 20px;
}

.name-text {
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
  /* transform: rotate(-8deg); */
  transform-origin: left top;
  color: white;
}

.person-detail {
  padding-left: 50px;
  padding-right: 50px;
}

.item-detail {
  padding-left: 50px;
  padding-right: 50px;
}

.person-events {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 20px;
}

.individual-event {
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid white;
  width: 150px;
  text-align: center;
}

.list-heading {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
  padding-left: 50px;
}

.person-items {
  display: flex;
  justify-content: center;
}

table {
  display: block;
}

td {
  width: 12vw;
  min-width: 70px;
  text-align: left;
  color: white;
}

th {
  width: 12vw;
  min-width: 70px;
  text-align: left;
  color: white;
}

form {
  display: flex;
  padding-left: 25vw;
  padding-right: 25vw;
  min-width: 200px;
  flex-direction: column;
}

.event-component {
  margin-left: 25vw;
  margin-right: 25vw;
}
a{
  color: white;
  text-decoration: none;
  text-shadow: 0px 0px 0px white,
               2px 2px 2px darkblue;
}
p {
  color: white;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid deeppink;
  border-radius: 4px;
  font-size: 12pt;
}

input[type=number]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid deeppink;
  border-radius: 4px;
  font-size: 12pt;
}

input[type=textarea]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid deeppink;
  border-radius: 4px;
  font-size: 12pt;
}

.person-option{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid deeppink;
  border-radius: 4px;
  font-size: 12pt;
}

.button {
  background: deeppink;
  color: white;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 1px 1px 1px #eee;
  text-shadow:none;
  font-size: 12pt;
}

input[type=submit]:hover {
  background: white;
  color: deeppink;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 1px 1px 1px #eee;
  text-shadow:none;
  font-size: 12pt;
}

input[type='checkbox']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='checkbox']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: deeppink;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
ul {
  text-decoration: none;
  padding-inline-start: 0;
}
